!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stepoff
  %body
    = link_to "Students", students_path
    %p.notice= notice
    %p.alert= alert
    = yield

